* {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size:  40px;
    color:black;
    }


img{
max-width: 100%;
}
.gallery{
/background-color: antiquewhite;
padding: 80px 0;
}

.gallery img{
cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}
.grid-layout{
      display: grid;
      grid-template-columns: 13% 12% 16% 20% 20% 25%;
      margin:0 auto;
      width: 100%;
      padding: 10px;
      background-color: white;
      position: fixed;
      

      
    }
    .caja{
      margin: auto;
      text-align: center;
      line-height: 150px; 
      float: left;
  }
   .caja1{
      width: 300px;
      height: auto;
      margin: auto;
      text-align: center;
      line-height: 150px; 
      float: left;  
   }
   article{
      width: auto;
      height: auto;
      top: 0px;
   }
   .caja-fixed{
      position: fixed;
      top: 0px;
   }
body{
   padding-top: 400px;
}
.imagen{
   width: 600px;
   height: auto;
}